<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="emp">

	<resultMap id="employeeMap" type="emp">
      <id column="emp_id" property="empId"/>
      <result column="emp_name" property="empName"/>
      <result column="emp_no" property="empNo"/>
      <result column="dept_code" property="deptCode"/>
      <result column="job_code" property="jobCode"/>
      <result column="sal_level" property="salLevel"/>
      <result column="manager_id" property="managerId"/>
      <result column="hire_date" property="hireDate"/>
      <result column="ent_date" property="entDate"/>
	</resultMap>
	
	<select id="selectEmpAll" resultMap="employeeMap">
		SELECT * FROM EMPLOYEE ORDER BY EMP_ID
	</select>
	
	<select id="searchEmp" parameterType="map" resultMap="employeeMap">
		SELECT * FROM (
			SELECT E.*, DECODE(SUBSTR (EMP_NO, 8, 1),'1', 'M', '2', 'F', '3', 'M', '4', 'F') AS GENDER
			FROM EMPLOYEE E
			) 
		 <!-- <where> -->
		 <trim prefix="where" prefixOverrides="AND|OR">
			<if test="type!=null and type != '' and keyword !=''">
			<!-- test 문 안에서는 $ or # 을 쓰지 않는다! -->
				${type} LIKE '%'||#{keyword}||'%' 
			</if>
			<if test='gender!=null and gender!=""'>
			<!-- gender != '' 의 경우 1글자는 char 타입으로 인식하여 숫자로 parsing한다. 따라서 위와같이 표현해야함 -->
				AND GENDER=#{gender}
			</if>
			<if test="salary!=0 and salFlag!=null and salFlag!=''">
				<!-- <if test='salFlag == "ge"'>
					AND SALARY >= #{salary}
				</if>
				<if test='salFlag == "le"'>
					AND SALARY &lt;= #{salary}
					AND SALARY <![CDATA[<=]]> #{salary}	xml의 escaping 처리
				</if> -->
				
				<choose>
					<when test='salFlag=="ge"'>
						AND SALARY >= #{salary}
					</when>
					<otherwise>
						AND SALARY <![CDATA[<=]]> #{salary}
					</otherwise>
				</choose>
			</if>
		</trim>
		<!-- </where> -->
	</select>
	
</mapper>
