<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- 
	Content Model : 
(properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, objectWrapperFactory?, 
 reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?) 의 순서대로 세팅해야함
  * properties : 외부의 Property 파일을 불러올 때 사용
  * settings : 기본적으로 MyBatis에서 설정할 수 있는 setting들로 필요한 것만 별도로 setting 해주면된다. ex. null값을 어떻게 저장할 것인지 ...
  * typeAliases : MyBatis에서 사용할 자료형의 별칭을 선언할 수 있다. ex. type="com.mybatis.model.dto.Student"  alias="student"  
  * environments : MyBatis에서 연동할 DB 정보에 대한 등록 → 여러 개의 DB를 연결해 놓을 수 있다. 
-->
<!-- 
	config파일의 의미 ? 
	DB 연결설정을 하는 파일로 쉽게 말해 Connection 객체를 생성할 때 필요한 정보(Metadata) 및 어떠한 SQL문구가 적힌 mapper를 쓸지에 대해 설정한다 .
	* 무조건 설정해야하는 2가지 태그 설정
	→ 1. environments & environment : 연결할 DB 정보를 설정하는 태그
	→ 2. mappers & mapper : xml이 설정되어 있는 mapper file에 대한 설정
-->
	<environments default="mybatis">	<!-- default ? 기본적으로 접근할 DB에 대한 이름 -->
		<environment id="mybatis">	<!-- id? 접속 환경에 대한 이름 -->
			<transactionManager type="JDBC"/>	<!-- 트랜잭션 관리 방법 설정 -->
			<!-- </transactionManager> -->
			<dataSource type="POOLED">	<!-- POOLED ? 내부적으로 MyBatis의 임시보관소로 접속 할때마다 Connection을 만들지 않는 의미 -->
			<!-- JDBC 접근에 사용한 내용들 type은 자료들의 임시저장소를 만들지 안만들지에 대한 내용-->
				<!-- MyBatis가 mapping 하기 위해 name(key)과 value는 정해져있다. -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>	
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="mybatis"/>
				<property name="password" value="mybatis"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- SQL 정보를 제공하는 Mapper 파일 등록 -->
	<mappers>
		<mapper resource="/mappers/student-mapper.xml"/>
		<!-- mapper ? SQL 및 어떠한 DTO랑 연결할지에 대해 설정하는 xml 파일의 위치에 대한 설정 -->
		<!-- 만약, 서버를 실행할 때 mapper에 선언되어있는 resource에 해당되는 xml 파일이 없다면 CouldNotFoundResource Exception 발생 -->
	</mappers>
	
	
</configuration>
