<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- properties 태그를 이용하여 외부 properties 파일 가져오기 -->
	<properties resource="/driver.properties"></properties>
	
	<!-- settings : 다양한 속성들은 document 확인할 것 -->
	<!-- jdbcTypeForNull ? jdbc에서 null일 경우 Oracle에서 어찌 처리할 것인가? -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.emp.model.dto.Employee"  alias="emp"/>
	</typeAliases>
	
	<environments default="BS">
		<environment id="BS">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pw}"/>
			</dataSource>
		</environment>
		<!-- 접속환경을 추가적으로 등록할 수 있다. 따라서, environments의 default 속성이 있다. -->
		<environment id="web">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="web"/>
				<property name="password" value="web"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="/mappers/employee-mapper.xml"/>
	</mappers>
</configuration>
